:root{
  --primary-color: #6C884D;
  --second-color: #F2EBE3;
  --third-color: #46552C;
  --color: #D6A85A;
  --text-color: #F3DDB8;
}
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@font-face {
  font-family: 'loubag';
  src: url(../font/loubag/TTF/Loubag-Medium.ttf);
  font-family: 'loubag ExtraBold';
  src: url(../font/loubag/TTF/Loubag-ExtraBold.ttf);
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--second-color); 
  border-radius: 90px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--third-color); 
}
html{
  font-size: 62.5%;
  font-family: 'loubag', sans-serif;
}
body{
  height: 3000px;
  background-color: var(--text-color);
}

/* main */
.servicos{
  font-size: 1.8rem;
}
main{
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  position: relative;
  top: 130px;
}
main > .row{
  position: absolute;
  height: 100vh;
  max-width: 100%;
  width: 100vw;

  background-image: url('img/servicos/background.svg');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
  object-fit: cover;
  background-attachment: scroll;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0px auto;
  align-items: center;
}

main .col{ 
  width: 100vw;
  margin: 0px auto 0px auto;
}

/* servicos */
.servicoTitle{
  position: absolute;
  left: 90px;
  top: 100px;
}

.servicoTitle h1{
  color: var(--third-color);
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
.servicoTitle h2, .aluguelTitle h1, .cardapioTitle h1{
  color: black;
  font-family: 'loubag ExtraBold';
  font-size: 4rem;
}

/* main serviços */
.servicosMain{
  position: relative;
  top:  50px;
  margin: 10px;

  color: var(--third-color);

  display: grid;
  grid-template-columns: 280px 280px;

}
.servicosMain div{
  margin: 15px;
}
.servicosMain h4{
  font-weight: bold;
  font-size: 2rem;
}
.servicosMain p{
  font-size: 1.8rem;
  font-weight: 600;
}

.servicoTitle button{
  width: 213px;
  height: 43px;
  margin-top: 160px;

  color: var(--third-color);
  font-weight: 600;

  border-color: var(--color);
  border-radius: 21.5px;
  background: var(--color);
  
  flex-shrink: 0;
}

/* aluguel de carros */
.aluguel{
  height: 800px;
  position: relative;
  margin: 800px auto 0px auto;
  text-align: center;
  font-family: 'Montserrat';
}
.alguelTitle{
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 213px;
  background: #d49d3f;
}
.aluguelTitle h1{
  color: var(--third-color);
}

.aluguelTitle hr{
  width: 360px;
  height: 90px;
  color: var(--color);
  border-top: 5px solid;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 185px;
}

/* carros */
.aluguelCarro{
  width: 100vw;
  max-width: 100%;
  
  position: absolute;
  margin: 80px auto 0px auto;
  justify-content: center;
  align-items: center;

  display: grid;
  grid-template-columns: 300px 300px;
  gap: 300px;
  height: 400px;
}

.aluguelCarro-card{
  width: 400px;
}

.aluguelCarro-img {
  font-weight: 500;
}

/* cardapio */
.cardapioContainer{
  background-color: var(--primary-color);
  width: 100vw;
  max-width: 100%;
  height: 1720px;
  border-radius: 100px;
}

.cardapioTitle{
  color: var(--color);
  font-family: 'Montserrat';
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 1700px;
}
.cardapioTitle h1{
  color: var(--text-color);
}
.cardapioTitle hr{
  width: 360px;
  height: 90px;
  color: var(--color);
  border-top: 5px solid;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 90px;
}

.cardapio{
  width: 100%;
  padding: 120px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cardapioMesa{
  margin-top: 80px;
}

.cardapioDiv{
  padding: 30px;
  position: relative;
  left: 30px;
  margin-top: 160px;

  flex-basis: 30%;
  flex-grow: 1;
}
.cardapioDiv h3{
  font-size: 5.3rem;
  color: var(--third-color);
  font-family: 'Montserrat';
}
.cardapioDiv p{
  font-size: 1.6rem;
  color: #fff;
  font-family: 'Montserrat';
  letter-spacing: 1.5pt;
}

.cardapioCookies{
  position: relative;
  bottom: 120px;
  padding-left: 150px;
}

.diversos{
  display: flex;
  flex-direction: row;
  bottom: 160px;
}
.diversos > div{
  margin-block: 150px;
  padding-left: 60px;
  width: 400px;
}

.cardapioDiv img{
  flex-basis: 50%;
  flex-grow: 1;
}

.bebidas{
  display: flex;
  margin-top: -200px;
}

.bebidasDiv{
  margin-top: -75px;
  margin-left: 140px;
}
.bebidasDiv > #opcional{
  margin-top: 70px;
}


/* 

*/
/* Media Queries */
@media (max-width: 1360px) {
  .cardapioCookies > img{
    margin-left: -70px;
  }

  .diversos{
    left: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 1200px) {
  .servicoTitle h2, .aluguelTitle h1, .cardapioTitle h1{
    font-size: 3.2rem;
  }

  .cardapioMesa > img{
    height: 400px;
  }
  
  .cardapioCookies > img{
    height: 350px;
  }
}

@media (max-width: 1195px) {
  main > .row{
    background-image: url('img/servicos/background-mobile.svg');
    width: 100%;
  }

  .servicoTitle h2{
    width: 850px;
    max-width: 100%;
  }
  .servicoTitle button{
    margin-top: 80px;
  }

  .aluguelCarro{
    gap: 250px;
  }
}

@media (max-width: 1122px) {

  .diversos > div.col > img{
    height: 200px;
  }

  .cardapioMesa > img{
    height: 320px;
  }
  
  .cardapioCookies > img{
    height: 290px;
  }

  .bebidasDiv{
    margin-left: 0px;
  }
  .bebidas > div.col-6 > img{
    height: 280px;
  }
}

@media (max-width: 1025px) {
  .aluguelCarro{
    padding-right: 100px;
    grid-template-columns: 250px 250px;
    gap: 220px;
    height: 300px; 
  }
  .aluguelCarro-img> img{
    width: 300px;
  }

  .cardapioTitle hr {
    top: 80px;
  }
}

@media (max-width: 992px) {
  .cardapioContainer{
    height: 1580px;
  }
  .cardapio{
    padding: 20px;
  }

  .cardapioDiv{
    padding: 20px;
  }

  .cardapioMesa{
    margin-top: 180px;
  }

  .bebidasDiv h3, .cardapioDiv h3{
    font-size: 3.5rem;
  }

  .cardapioCookies{
    bottom: 20px;
  }

  .diversos{
    margin-right: -300px;
  }

  .diversos > div.col > img{
    margin-top: 40px;
  }

  .bebidasDiv{
    margin-top: -120px;
  }
    
}

@media (max-width: 974px) {

  .cardapioCookies > img {
    margin-left: -100px;
}
}

@media (max-width: 1122px) {
  .aluguelCarro-img > img {
    width: 300px;
  }

  .diversos > div.col-6 > img{
    height: 200px;
  }

  .cardapioMesa > img{
    height: 320px;
  }
  
  .cardapioCookies > img{
    height: 290px;
  }

  .bebidasDiv{
    margin-left: 0px;
  }
  .bebidas > div.col-6 > img{
    height: 280px;
  }
}

@media (max-width: 1025px) {
  .aluguelCarro{
    padding-right: 100px;
    grid-template-columns: 250px 250px;
    gap: 220px;
    height: 300px; 
  }
  .aluguelCarro-img> img{
    width: 300px;
  }

  .cardapioTitle hr {
    top: 80px;
  }
}

@media (max-width: 992px) {
  .aluguelCarro{
    padding-right: 150px;
    grid-template-columns: 250px 250px;
    gap: 100px;
    height: 250px; 
  }
  .aluguelCarro-img > img {
    width: 250px;
  }

  .cardapioContainer{
    height: 1580px;
  }
  .cardapio{
    padding: 20px;
  }

  .cardapioDiv{
    padding: 20px;
  }

  .cardapioMesa{
    margin-top: 180px;
  }

  .bebidasDiv h3, .cardapioDiv h3{
    font-size: 3.5rem;
  }

  .cardapioCookies{
    bottom: 20px;
  }

  .diversos{
    margin-right: -300px;
  }

  .diversos > div.col-6 > img{
    margin-top: 40px;
  }

  .bebidasDiv{
    margin-top: -120px;
  }
    
}

@media (max-width: 974px) {
  .servicoTitle{
    max-width: 70%;
  }
  .servicoTitle h1{
    font-size: 1.8rem;
    max-width: 60%;
  }
  .servicoTitle h2{
    font-size: 3.1rem;
    max-width: 60%;
  }
  .justify-content-center{
    justify-content: start!important;
  }
  .cardapioCookies > img {
    margin-left: -100px;
}
}

/* 
  TABLET
*/
@media (max-width: 769px) {
  .servicos{
    font-size: 1.6rem;
  }
  /* main servicos */
  .servicoTitle h1{
    font-size: 1.8rem;
  }
  .servicoTitle h2{
    font-size: 3.1rem;
  }
  .servicosMain div{
    margin: 10px;
  }
  .servicosMain h4{
    font-size: 1.8rem;
  }
  .servicosMain p{
    font-size: 1.6rem;
  }
  .servicoTitle button{
    margin-top: 100px;
  }

  /* alguel de carros */
  .aluguelCarro{
    gap: 120px;
  }
  
  .servicoTitle h2, .aluguelTitle h1, .cardapioTitle h1{
    font-size: 2.6rem;
  }
  
  /* cardapio */
  .cardapio{
    padding: 40px;
  }

  .cardapioTitle hr {
    width: 300px;
    top: 70px;
  }

  .cardapioCookies{
    bottom: 40px;
  }
  .cardapioCookies > img {
    margin-left: -150px;
    height: 240px;
    
  }

  .bebidasDiv h3, .cardapioDiv h3{
    font-size: 2.8rem;
  }

  .diversos{
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    bottom: 100px;
  }
  .diversos > div{
    margin-block: 0px;
    margin-right: 20px;
    padding-left: 0px;
  }

  .cardapioMesa-text{
    left: 0px;
  } 

  .cardapioMesa > img{
    margin-left: 0px;
    height: 250px;
  }
  
  .diversos > div.col-6 > img {
    margin-left: 20px;
    margin-bottom: 30px;
  }

  .bebidas{
    margin-top: -50px;
  }
  .bebidas > div.col-6 > img {
    height: 200px;
    margin-top: 30px;
}
}

/* 
  MOBILE 
*/
@media (max-width: 426px) {
  /* servicos */
  main{
    top: 160px;
  }
  /* 
    main servicos 
  */
  .servicosMain{
    top: 30px;
    margin: 5px;
    grid-template-columns: 120px 120px;
  }
  .servicoTitle h2{
    font-size: 2.6rem;
  }
  .servicoTitle h2, .aluguelTitle h1, .cardapioTitle h1{
    font-size: 2.2rem;
  }

  /* 
    aluguel de carro 
  */
  .aluguelCarro{  
    margin: 30px auto 0px auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .aluguelTitle hr{
    width: 260px;
    top: 155px;
  }

  /* 
    cardapio 
  */
  .bebidasDiv h3, .cardapioDiv h3{
    font-size: 2.2rem;
  }

  .cardapioMesa-text{
    left: 30px;
    width: 300px;
    padding: 40px;
  }
  .cardapioMesa-div{
    display: flex;
  }
  .cardapioMesa-div img{
    padding-top: 20px;
  }
  .cardapioCookies{
    display: none;
  }

  /* 
    diversos 
  */
  .diversos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .diversos > div.col-6 > img {
    height: 180px;
  }
  
  /* 
    bebidas 
  */
  .bebidas > div.col-6 > img {
    height: 120px;
  }
}

@media (max-width: 376px) {
  /* servicos */
  /* main servicos */
  .servicosMain p, 
  .cardapioDiv p,
  .aluguelCarro-img p{
    font-size: 1.4rem;
  }


  /* aluguel de carro */

  /* 
    cardapio 
  */
  .cardapioTitle hr {
    width: 260px;
    top: 65px;
  }

  /* 
    diversos 
  */
  .diversos div{
    margin-right: 0px;
    width: 300px;
  }
  .diversos > div.col-6 > img {
    position: relative;
    height: 140px;
    margin-bottom: 280px;
    bottom: 50px;
    padding-left: 10px;
  }

  /* 
    bebidas 
  */
  .bebidas{
    margin-top: 550px;
  }
  .bebidasDiv {
    margin-top: -140px;
  }
  .bebidasDiv > #opcional {
    margin-top: 70px;
    width: 200px;
    position: relative;
    right: 110px;
}
}

@media (max-width: 321px) {
  /* servicos */
  main{
    top: 200px;
  }


  /*
    main servicos 
  */
  .servicoTitle{
    max-width: 100%;
    left: 0px;
    right: 0px;
    margin-left: 50px;
  }
  .servicoTitle h2, 
  .aluguelTitle h1, 
  .cardapioTitle h1 {
    font-size: 2rem;
  }


  /* 
    aluguel de carro 
  */
  .aluguelTitle hr{
    width: 200px;
    top: 150px;
  }


  /* 
    cardapio 
  */
  .cardapioTitle h1{
    text-align: center;
    width: 250px;
  }
  .cardapioTitle hr {
    width: 200px;
    top: 60px;
  }
  .bebidasDiv h3, 
  .cardapioDiv h3{
    font-size: 1.8rem;
  }


  /* 
    diversos 
  */
  .cardapioMesa-text {
    left: 0px;
    width: auto;
    padding: 0px;
  }
  .cardapioMesa > img{
    display: none;
  }
  .diversos > div.col-6 > img {
    display: none;
  }


  /* 
    bebidas 
  */
  .bebidas > div.col-6 > img {
    display: none;
  }
}