<!doctype html>
<html lang="pt-br">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="../../public/styles/contato.css" />

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body id="body">
    <header class="navbar navbar-expand-sm d-block fixed-top">

        <div class="header-top container-fluid" id="nav-princ">
          <ul class="nav justify-content-start">
            <li class="nav-item">
              <img src="img/mail.svg" alt="" class="rede-social me-2"><a href="">angelainenoronha@gmail.com</a>
            </li>
          </ul>
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <img src="img/whatsapp.svg" alt="" class="rede-social me-2"><a href="">(81) 99493-0228</a>
            </li>
            <li class="nav-item">
              <img src="img/facebook.svg" alt="" class="rede-social">
            </li>
            <li class="nav-item">
              <img src="img/instagram.svg" alt="" class="rede-social">
            </li>
          </ul>
        </div>
    
        <div class="header-nav container-fluid">
          <a class="navbar-brand" href="#"><img src="img/logotipo.svg" alt=""></a>
    
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <nav class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link dropdown-toggle" aria-current="page" href="../../index.html">A pousada</a>
              </li>
              <li class="nav-item">
                <a class="nav-link dropdown-toggle" href="./servicos.html">Serviços</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./eventos.html">Eventos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contatos</a>
              </li>
            </ul>
          </nav>
        </div>
      </header>
  <main>
    <div class="img-fluid" id="fundo-carrossel">
      <img src="../noronha/img/fundo.png" alt="" class="img-fluid" id="fundo">
      <img src="../noronha/img/efeitoContato.png" alt="" class="img-fluid" id="degrade">
    </div>
    <section class="page-section" id="contact">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 col-xl-6 text-center">
                  <h1 class="mt-0" id="titulo">Contato</h1>
                  <div class="container" id="info">
                  <h4>ENDEREÇO &nbsp; &nbsp; Estrada Velha da Atalaia - Fernando de Noronha, PE</h4>
                  <br>
                  <br>
                  <h3>Telefone &nbsp; &nbsp; (81) 99493-0228</h3>
                    <br>
                    <br>
                    <hr class="divider" />
                    <p class="text-muted mb-5">Entre em contato pelo telefone ou envie uma mensagem usando o formulário abaixo </p>
                  </div>
                  </div>
            </div>
            <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                <div class="col-lg-6">
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- * * SB Forms Contact Form * *-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- This form is pre-integrated with SB Forms.-->
                    <!-- To make this form functional, sign up at-->
                    <!-- https://startbootstrap.com/solution/contact-forms-->
                    <!-- to get an API token!-->
                    <form id="contactForm" data-sb-form-api-token="API_TOKEN" action="lancar-form.php" method="post">
                        <!-- Name input-->
                        <div class="form-floating mb-3" id="form">
                            <input class="form-control" id="nome" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                            <label for="nome">Nome Completo</label>
                            <div class="invalid-feedback" data-sb-feedback="name:required">Necessário um nome.</div>
                        </div>
                        <!-- Email address input-->
                        <div class="form-floating mb-3" id="form">
                            <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                            <label for="email">Email</label>
                            <div class="invalid-feedback" data-sb-feedback="email:required">Necessário um Email.</div>
                            <div class="invalid-feedback" data-sb-feedback="email:email">Email não válido.</div>
                        </div>
                        <!-- Phone number input-->
                        <div class="form-floating mb-3" id="form">
                            <input class="form-control" id="telefone" type="tel" placeholder="(12) 34567-8910" data-sb-validations="required" />
                            <label for="telefone">Numero de telefone</label>
                            <div class="invalid-feedback" data-sb-feedback="phone:required">Necessário um número de telefone</div>
                        </div>
                        <!-- Message input-->
                        <div class="form-floating mb-3" id="form">
                            <textarea class="form-control" id="mensagem" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                            <label for="mensagem">Mensagem</label>
                           
                        </div>
                        <!-- Submit success message-->
                        <!---->
                        <!-- This is what your users will see when the form-->
                        <!-- has successfully submitted-->
                        <div class="d-none" id="submitSuccessMessage">
                            <div class="text-center mb-3">
                                <div class="fw-bolder">Form submission successful!</div>
                                To activate this form, sign up at
                                <br />
                                <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                            </div>
                        </div>
                        <!-- Submit error message-->
                        <!---->
                        <!-- This is what your users will see when there is-->
                        <!-- an error submitting the form-->
                        <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                        <!-- Submit Button-->
                        <div class="d-grid" id="form"><button class="btn btn-primary btn-xl" id="submitButton" type="submit">Submit</button></div>
                    </form>
                </div>
            </div>
            <br>
            <br>
            <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3980.822514472056!2d-32.40692352492116!3d-3.8482452437937416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x636527c52f0153b%3A0xbef1b9b1cc064870!2sCasa%20do%20Iram%20e%20da%20%C3%82ngela!5e0!3m2!1spt-BR!2sbr!4v1696875760984!5m2!1spt-BR!2sbr" id="maps">
            </iframe>
            <br>
            <br>
            <br>
          </section>
  </main>
  <footer>
    <div class="container sm-8" id="id-footer">
      <nav class="navbar navbar-expand-lg" id="nav-footer">
        <div class="container-fluid">
          <div class="row">
            <img src="./img/logoprojetonoronha (2) 1.png" alt="" id="logo-footer">
          </div>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav" id="navs-footer">
              <a class="nav-link active" aria-current="page" href="#">Inicio</a>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a class="nav-link active" aria-current="page" href="#">A Pousada</a>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a class="nav-link active" aria-current="page" href="#">Serviços</a>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a class="nav-link active" aria-current="page" href="#">Atividades</a>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a class="nav-link active" aria-current="page" href="#">Contato</a>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a class="nav-link active" aria-current="page" href="#">Duvidas</a>
            </div>
            
          </div>
        </div>
        <div class="row" id="row-imgs-footer">
          <img src="./img/Visa.png" alt="" class="cards" id="img1">
          <img src="./img/Mastercard.png" alt="" class="cards" id="img2">
        </div>
      </nav>
    </div>
  </footer>
  <section class="">

    <div class="header-top container-fluid">
      <ul class="nav justify-content-start">
        <li class="nav-item">
          <img src="./img/mail.svg" alt="" class="rede-social me-2"><a href="">angelainenoronha@gmail.com </a>
        </li>
      </ul>
      <ul class="nav justify-content-end" id="ul-footer">
        <li class="nav-item">
          <img src="./img/whatsapp.svg" alt="" class="rede-social me-2"><a href="">(81) 99493-0228</a>
        </li>
        <li class="nav-item">
          <img src="./img/facebook.svg" alt="" class="rede-social">
        </li>
        <li class="nav-item">
          <img src="./img/instagram.svg" alt="" class="rede-social">
        </li>
      </ul>
    </div>
  </section>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>