<!doctype html>
<html lang="pt-br">

<head>
    <title>Eventos</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/styles/eventos.css">
    <link rel="stylesheet" href="../../public/styles/navbar.css">

</head>

<body id="body">
    <!-- NavBar -->
    <header class="navbar navbar-expand-sm d-block fixed-top">

        <div class="header-top container-fluid">
            <ul class="nav justify-content-start">
                <li class="nav-item">
                    <img src="../../public/img/eventos/topimgs/mail.svg" alt="" class="rede-social me-2"><a href="">angelainenoronha</a>
                </li>
            </ul>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <img src="../../public/img/eventos/topimgs/whatsapp.svg" alt="" class="rede-social me-2"><a href="">(81) 99493-0228</a>
                </li>
                <li class="nav-item">
                    <img src="../../public/img/eventos/topimgs/facebook.svg" alt="" class="rede-social">
                </li>
                <li class="nav-item">
                    <img src="../../public/img/eventos/topimgs/instagram.svg" alt="" class="rede-social">
                </li>
            </ul>
        </div>

        <div class="header-nav container-fluid">
            <a class="navbar-brand" href="#"><img src="../../public/img/eventos/topimgs/logodoiramanhorizontal.svg" alt=""></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <nav class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item list-inline-item">
                        <a class="nav-link dropdown-toggle" aria-current="page" href="../../index.html">A pousada</a>
                    </li>
                    <li class="nav-item list-inline-item">
                        <a class="nav-link dropdown-toggle" href="./servicos.html">Serviços</a>
                    </li>
                    <li class="nav-item nv-ev list-inline-item">
                        <a class="nav-link " href="#">Eventos</a>
                    </li>
                    <li class="nav-item list-inline-item">
                        <a class="nav-link" href="#">Contatos</a>
                    </li>
                </ul>
            </nav>

        </div>
    </header>

    <!---->
    <main>
        <div class="img-fluid">
            <div class="img-fundo">
                <img src="../../public/img/eventos/EventosImg.png" alt="" id="fundo">
                <img src="../../public/img/eventos/efeito.png" alt="" id="efeito">
            </div>
        </div>
        <div class="img-fluid centermeu">
            <div class="row">
                <div class="col">
                    <div class="text-center">
                        <p class="text-center titulo-eventos"><strong>Eventos</strong></p>
                    </div>

                    <div class="">
                        <p class="text-center titulo-atividades"><strong>Noronhe-se</strong></p>
                    </div>

                    <div class="row justify-content-center ">
                        <div class="col-sm-2 " onclick="window.location='../../' ">
                            <div class="card cardm">
                                <img src="../../public/img/eventos/cafedamanha.png" class="card-img-top imgev" alt="...">
                                <div class="card-body cortex">
                                    <p class="card-text  text-center">Café da manhã</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="card cardm">
                                <img src="../../public/img/eventos/ar-condicionador.png" class="card-img-top imgev" alt="...">
                                <div class="card-body cortex">
                                    <p class="card-text text-center">Ar condicionado</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="card cardm">
                                <img src="../../public/img/eventos/atividades.png" class="card-img-top imgev" alt="...">
                                <div class="card-body cortex ">
                                    <p class="card-text text-center">Atividades</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="card cardm">
                                <img src="../../public/img/eventos/wi-fi.png" class="card-img-top imgev" alt="...">
                                <div class="card-body cortex">
                                    <p class="card-text text-center">Wi-fi</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="card cardm">
                                <img src="../../public/img/eventos/aluguel.png" class="card-img-top imgev" alt="...">
                                <div class="card-body text-center cortex ">
                                    <p class="card-text ">Aluguel de carros</p>
                                </div>
                            </div>
                        </div>

                        <!--texto das atividades-->

                        <div class="container text-center col-sm-6">
                            <p class="text-eventos">Prepare-se para viver momentos inesquecíveis no paraíso de Noronha!
                                Explore praias deslumbrantes, aventuras subaquáticas, gastronomia única e cenários de
                                tirar o fôlego. Esteja pronto para experiências que irão marcar a sua vida. Junte-se a
                                nós e faça parte da magia de Fernando de Noronha. Seus sonhos esperam por você aqui!</p>
                        </div>

                        <!--card passeios-->

                        <div class="container contcard">
                            <div class="row justify-content-center cont-cd">
                                <div class="col-sm-3 mt">
                                    <div class="card carev">
                                        <img src="../../public/img/eventos/barco.png" class="card-img-top imgcar" alt="...">
                                        <div class="card-body">
                                            <h3 class="card-title">ESMERALDA DO ATLÂNTICO</h3>
                                            <p class="card-text">Descubra Noronha em grande estilo: Planasub, praias
                                                deslumbrantes, Morro Dois Irmãos, churrasco a bordo e um pôr do sol
                                                incrível! Além de contar com o entandecer imperdivél.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 mt">
                                    <div class="card carev">
                                        <img src="../../public/img/eventos/escuna.png" class="card-img-top imgcar" alt="...">
                                        <div class="card-body">
                                            <h3 class="card-title">PASSEIO DE ESCUNA</h3>
                                            <p class="card-text">Esta é a oportunidade perfeita para explorar as
                                                maravilhas naturais de Fernando de Noronha de uma maneira única,
                                                descontraída e emocionante. Agora e prepare-se para um dia inesquecível!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center cont-cd">
                                <div class="col-sm-3 mt">
                                    <div class="card carev">
                                        <img src="../../public/img/eventos/canoa.png" class="card-img-top imgcar" alt="...">
                                        <div class="card-body">
                                            <h3 class="card-title">CANOA HAVAIANA</h3>
                                            <p class="card-text">Venha vivenciar a navegação das embarcações milenares
                                                do Triângulo Polinésio. A proposta da expedição é aventura e
                                                contemplação no cenário paradisíaco da Ilha de Fernando de Noronha.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 mt">
                                    <div class="card carev">
                                        <img src="../../public/img/eventos/bike.png" class="card-img-top imgcar" alt="...">
                                        <div class="card-body">
                                            <h3 class="card-title">BIKE AQUÁTICA</h3>
                                            <p class="card-text">Explore Noronha de forma única: Bike Aquática! Pedale
                                                nas águas cristalinas, desfrute das praias paradisíacas e saboreie
                                                expêriencias incríveis, pôr do sol mágico incluso por toda ilha.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Video-->
                    <div class="container text-center">
                        <video controls class="video" poster="../../public/img/eventos/img-video.png">
                            <source src="../../public/img/eventos/tur.mp4" type="video/mp4">
                        </video>
                    </div>
                    <div class="container">
                        <div class="text-center">
                            <h3 class="titulo-fim">ILHATUR</h3>
                            <p class="text-fim"> É um passeio por toda a ilha realizado num carro do tipo 4x4, com
                                acesso às principais praias, parada para banho e mergulho livre (Dependendo das
                                condições do mar) pontos históricos e incríveis mirantes, terminando com um belo pôr do
                                sol. Ótimo para quem quer conhecer o melhor da ilha. Início a partir de 8h00 término
                                após o pôr do sol. Não existe um roteiro fixo pra esse passeio, mas passamos pelo Baia
                                do Sueste, Praia do Leão, Sancho, Baia dos Porcos, Cacimba do Padre, Praia do Porto
                                entre outros pontos da ilha.</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="container cont-map">
            <div class="row">
                <div class="col">
                    <div class="embed-responsive embed-responsive-1by1 d-flex justify-content-center">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7961.646829920394!2d-32.40638708325736!3d-3.848052560159338!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x636527c52f0153b%3A0xbef1b9b1cc064870!2sCasa%20do%20Iram%20e%20da%20%C3%82ngela!5e0!3m2!1spt-BR!2sbr!4v1698167199708!5m2!1spt-BR!2sbr"
                            width="950" height="550" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
        
    </main>

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
</body>

</html>