.container{
    padding: 2rem;
}

/* Todo .col vai ser imediatamente filho de .row (>)
 podemos ter vários tipos, então usa-se o seletor com filtro. 
 Para isso, usa-se conchetes [] para colocar uma expressão. 
 A expressão diz que o atributo class deve começar com col e um traço. 
 O circunflexo (^) e o igual (=) é um operador de busca que diz: 
 'procure todo atributo class que comece com "col-algumacoisa"*/
.row > .col,
.row > [class^=col-],
.bg {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(243, 117, 32, .15);
    border: 1px solid rgba(243, 117, 32, .2);
}